   <div id="C-c" class="cnt">
                <h1 class="_eor">404</h1>
                <h2 class="_tc">Bad request ...<img alt="image" src="images/robot1.jpg"/></h2>
                <p class="_p">The request cannot be fulfilled due to bad syntax.</p>
                <div class="_bg">
                  
                    <a href="#" class="b-grey xs">Go back</a>
                    <a href="#" class="b-grey xs">Login</a>
                    <a href="#" class="b-grey xs">Contact admin</a>
                    
                </div>
            </div><!-- C-c -->