<div id="ftr">        
    <div class="_cr">
        <div class="col-7">                     
                <p> &copy;  2015 <a href="<%= config.home %>">Logstaff.com</a>, ALL Rights Reserved.   <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a> | <a href="contact.html">Contact us</a>   </p>
        </div>
    </div>        
</div>