<div id="footer">
  <div id="footer-bar">
    <div id="__start">
      <a  href="#"><img src="static/images/Windows-7.png" />
            <div id="startmenu" class="start_menu hide">
                  <div class="icon_mask">
                    <img src="static/images/redimg.png" />
                  </div>
                  <div class="menu">
                      <%= menus %>
                  </div>
                  <div id="quick-menu">
                    <ul>
                      
                    </ul>
                  </div>
                  <div id="serach">
                    <input type="text" value="Search" name="_s" />
                    <input type="submit" name="sbt" />
                  </div>
                </div>
      </a>
                  
    </div>
    
  </div>
</div>
