<div class="col-11">
     <h1><i class="fa fa-sun-o"></i>create new Organization</h1>
        <div class="_ml">
            <ul>
                <li><i class="fa fa-check"></i><a href="#">define organization</a></li>
                <li><a href="#" class="active">define projects</a></li>
                <li><a href="#">invite users</a></li>
                <li><a href="#">choose plan</a></li>
            </ul>
        </div><!-- _ml -->
        <div class="_mr">
            <div class="_mrc">  
                <form role="form">
                                          <div class="fg">
                                              <label>Select Organization</label>
                                              <span> 
                                                  <select>
                                                    <option value="">All organizations</option>
                                                    <option value="">Netmastery</option>
                                                    <option value="">Partneris</option>
                                                </select>
                                              </span>
                                          </div> 
                                          <div class="fg">
                                              <label>First Name</label>
                                              <span><input type="text" placeholder="First name"/></span>
                                          </div>
                                          <div class="fg">
                                              <label>Last Name</label>
                                              <span><input type="text" placeholder="Last name"/></span>
                                          </div>
                                          <div class="fg">  
                                            <label>Gender</label>
                                            <span class="radio">
                                                <input type="radio" name="male" value="male"/>  
                                                <label for="male">Male</label>  
                                                <input type="radio" name="female" value="female"/>  
                                                <label for="female">Female</label>  
                                            </span>
                                           </div>
                                          <div class="fg">
                                              <label>Email</label>
                                              <span> <input type="email" placeholder="Type your email"/></span>
                                          </div>
                                           <div class="fg">
                                              <label>Password field</label>
                                              <span><input type="password" placeholder="Type your password"/></span>
                                          </div>
                                           <div class="fg">  
                                            <label>Checkboxes</label>
                                            <span class="radio">
                                                <input type="checkbox"  value="1"/>  
                                                <label for="Checkboxes1">Checkboxes1</label>  
                                                <input type="checkbox"  value="2"/>  
                                                <label for="Checkboxes1">Checkboxes1</label>  
                                              
                                            </span>
                                           </div>
                                          <div class="fg">
                                              <label>Select Organization</label>
                                              <span> 
                                                  <select>
                                                    <option value="">All organizations</option>
                                                    <option value="">Netmastery</option>
                                                    <option value="">Partneris</option>
                                                </select>
                                              </span>
                                          </div> 
                                       
                                          <div class="fg">
                                              <label>Message</label>
                                              <span><textarea rows="3"></textarea></span>
                                          </div>
                                  
                                          <div class="fg">
                                              <label> &nbsp;</label>
                                              <span><input type="submit" value="submit" class="b-red"/></span>
                                          </div>
                                         
                                          
                                      </form>
                                    

                
            </div>
            </div><!-- _mr -->
</div>

