<input class="_uk" placeholder="search or type email" type="text" name="uk" />
<div class="_smem">
    Search for a person in Logstaff by name or email address, or enter an email address to invite someone new. 
</div>

<style type="text/css">
    .disabled{opacity:.5}
    ._smem .item{cursor: pointer;background: none repeat scroll 0 0 lightgray;border-radius: 3px;margin-bottom: 2px;padding: 2px;width: 100%;float: left}
    ._smem .item:hover{background-color: #ffa8bc}
    ._smem .item .image{display: block; width:32px; float: left;}
    ._smem .item .image img{border-radius:3px}
    
    ._smem .item .ude{display: block; float: left; padding: 0px 7px;}
</style>