<div class="_nusr">
    <p><b><%= email %></b> ? We don’t know that person. Add a name and click “Send” and we’ll add a virtual member and send them an invite email. They'll automatically receive access to the board once they sign up and confirm their email address. 
    <input type="text" name="nicename" value="<%= name %>" /></p>
    
    <p><a id="inv-usr" class="b-green xs" href="#" title="Invite Member Now"><i class="fa fa-chain"></i> Invite Now</a></p>
        
</div>
